.mAuto {
    margin:auto;
}

.m15 {
    margin:30px;
}

.p15 {
    padding:15px;
}

.w100 {
    width:100%;
}

.flex {
    display:flex;
}

.flexColumn {
    flex-direction: column;
}

.justifyBetween {
    justify-content: space-between;
}